.card-container {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05); /* Ombre très légère */
  margin-bottom: 10px;
  transition: transform 0.2s;

  &:active {
    transform: scale(0.98);
  }
}

.image-wrapper {
  position: relative;
  height: 140px;
  width: 100%;

  .spot-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* Le cœur en haut à droite */
  .fav-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent */
    backdrop-filter: blur(5px);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    z-index: 10;
  }

  .distance-badge {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #374b43;
    color: white;
    padding: 4px 10px;
    border-radius: 12px;
    font-size: 11px;
    font-weight: 700;
  }
}

.info-content {
  padding: 12px;

  .title {
    margin: 0 0 4px 0;
    font-size: 15px;
    font-weight: 700;
    color: #1a1a1a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .tag-row {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 8px;

    ion-icon { font-size: 14px; color: #5b9bd5; }
    span { font-size: 11px; color: #666; font-weight: 500; }
  }

  .rating-row {
    display: flex;
    gap: 2px;
    margin-bottom: 8px;

    .star-icon {
      color: #ffd700; /* Jaune or */
      font-size: 14px;
    }
  }

  .price-row {
    .price {
      font-size: 18px;
      font-weight: 800;
      color: #2f4f4f; /* Vert foncé sombre */

      &.free {
        color: #00d68f; /* Vert flash "Gratuit" */
      }
    }
  }
}
