ion-content, ion-toolbar { --background: #ffffff; }

ion-title, ion-back-button { color: #000; }
ion-title { font-weight: 700; }

.publish-container { padding: 20px; }

// les étiquettes au dessus des champs
label {
  display: block;
  font-weight: 700;
  color: #000;
  margin: 20px 0 8px;
}

// style des boites de texte grises
.custom-input {
  --background: #F6F8FC;
  --color: #000;
  --padding-start: 15px;
  border-radius: 12px;
  margin-bottom: 10px;
}

// pour que la description soit plus grande
ion-textarea.custom-input { min-height: 120px; }

// la zone pour la carte
#map-publish {
  height: 200px;
  border-radius: 15px;
  border: 1px solid #eee;
  margin-bottom: 10px;
}

// alignement des étoiles
.stars-row {
  display: flex;
  gap: 10px;
  ion-icon {
    font-size: 30px;
    color: #ddd; // gris de base
    &.active {
      color: #ffc409; } // jaune quand c'est cliqué
  }
}

// champ pour le prix
.price-input-wrapper {
  background: #F6F8FC;
  border-radius: 12px;
  display: flex;
  align-items: center;
  ion-input { --color: #000; }
  .currency {
    padding-right: 15px;
    font-weight: bold;
    color: #666; }
}

// scroll horizontal pour les services
.services-scroll {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding-bottom: 10px;
  &::-webkit-scrollbar { display: none; } // on cache la barre de scroll
}

// les petits carrés de services
.service-box {
  cursor: pointer;
  min-width: 80px;
  height: 80px;
  background: #F6F8FC;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #888;

  // quand on sélectionne un service
  &.selected {
    background: #e6f0ff;
    border: 2px solid #2f65e8;
    color: #2f65e8;
  }

  ion-icon { font-size: 24px; margin-bottom: 5px; }
  span { font-size: 11px; font-weight: 600; }
}

// gestion des photos
.media-preview {
  display: flex;
  gap: 10px;
  .img-box {
    width: 70px; height: 70px;
    border-radius: 10px;
    background: #F6F8FC;
    overflow: hidden;
    display: flex; align-items: center; justify-content: center;
    img { width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer}

    // la boite pour ajouter une photo
    &.add { border: 2px dashed #ccc;
      color: #ccc;
      font-size: 24px; }
  }
}

// le gros bouton bleu en bas
.submit-btn {
  margin: 40px 0 20px;
  --background: #2f65e8;
  --border-radius: 12px;
  height: 50px;
  font-weight: bold;
  color: white;

}
