ion-content {
  --background: #ffffff;
}
ion-toolbar {
  --background: #ffffff;
  --color: #000000;
}

ion-title {
  color: #000000;
  font-weight: 700;
}

ion-back-button {
  color: #000000;
}

.publish-container {
  padding: 20px;
}

/* LABELS (Titre, Description...) */
label {
  display: block;
  font-weight: 700;
  color: #000; /* Texte bien noir */
  margin-bottom: 8px;
  margin-top: 20px;
}

/* LES BOITES DE TEXTE (INPUTS) */
.custom-input {
  --background: #F6F8FC; /* Gris clair */
  --color: #000000; /* LE TEXTE EN NOIR (C'est ça qui te manquait) */
  --placeholder-color: #888;
  --padding-start: 15px;
  border-radius: 12px;
  margin-bottom: 10px;
}

/* Zone de texte plus haute pour la description */
ion-textarea.custom-input {
  min-height: 120px;
}

/* LA CARTE */
#map-publish {
  height: 200px;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
  border: 1px solid #eee;
}

/* LES ÉTOILES */
.stars-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;

  ion-icon {
    font-size: 30px;
    color: #ddd; /* Gris si pas coché */

    &.active {
      color: #ffc409; /* Jaune si coché */
    }
  }
}

/* PRIX */
.price-input-wrapper {
  background: #F6F8FC;
  border-radius: 12px;
  display: flex;
  align-items: center;

  ion-input {
    --color: #000; /* Texte noir ici aussi */
  }

  .currency {
    padding-right: 15px;
    font-weight: bold;
    color: #666;
  }
}

/* SERVICES (SCROLL) */
.services-scroll {
  display: flex;
  overflow-x: auto; /* Ça permet de scroller sur le côté */
  gap: 10px;
  padding-bottom: 10px;
}

.service-box {
  min-width: 80px;
  height: 80px;
  background: #F6F8FC;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #888;

  /* Quand c'est sélectionné */
  &.selected {
    background: #e6f0ff; /* Bleu très clair */
    border: 2px solid #2f65e8;
    color: #2f65e8;
  }

  ion-icon {
    font-size: 24px;
    margin-bottom: 5px;
  }

  span {
    font-size: 11px;
    font-weight: 600;
  }
}

/* PHOTOS (MÉDIAS) */
.media-preview {
  display: flex;
  gap: 10px;

  .img-box {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background: #F6F8FC;
    overflow: hidden; /* Pour que l'image dépasse pas */
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.add {
      border: 2px dashed #ccc;
      font-size: 24px;
      color: #ccc;
    }
  }
}

/* LE BOUTON VALIDER */
.submit-btn {
  margin-top: 40px;
  margin-bottom: 20px;
  --background: #2f65e8;
  --color: #ffffff;
  --border-radius: 12px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  text-transform: none;
}
