.full-screen-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  padding-top: 10vh;
  font-family: 'Akronim', cursive;
  font-size: 70px;
  color: white;
  text-align: center;
  margin: 0;

  font-weight: 400 ;
}

.bottom-group {
  margin-top: auto;
  margin-bottom: 20px;
  color: white;
  width: 100%;
  max-width: 450px;
  align-self: center;

  p {
    font-size: 24px;
    margin-bottom: 5px;
  }

  h2 {
    font-size: 45px;
    line-height: 1;
    margin-bottom: 30px;
  }

  button {
    width: 100%;
    padding: 18px;
    margin-bottom: 15px;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    background-color: #1e70f0;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
}


@media (min-width: 768px) {
  h1 {
    font-size: 115px;
  }

  .bottom-group {
    align-self: center;
    margin-left: 5%;

    p { font-size: 32px; }
    h2 { font-size: 65px; }
  }
}
