ion-toolbar {
  --background: #ffffff;
  --color: #000000;
}


ion-content {
  --background: #fff;
}

.main-container {
  padding: 16px 16px 80px;
}


/* --- CARTE DU SPOT --- */
.spots-grid {
  padding: 0;
  ion-col { padding: 8px; }
}

.spot-card {
  margin: 0;
  border-radius: 16px;
  box-shadow: none; /* On vire l'ombre pour faire plat/moderne */
  background: transparent;
}

.image-container {
  position: relative;
  height: 140px;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 8px;

  .spot-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .distance-badge {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background: rgba(0,0,0,0.7);
    color: white;
    font-size: 10px;
    padding: 2px 6px;
    border-radius: 6px;
    font-weight: 600;
  }

  .favorite-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 32px;
    width: 32px;
    --padding-start: 0;
    --padding-end: 0;
    background: rgba(255,255,255,0.8);
    border-radius: 50%;
  }
}

.spot-info {
  padding: 0; /* On gère nous même */

  .title-row h3 {
    margin: 0;
    font-size: 15px;
    font-weight: 700;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .subtitle-row {
    margin-bottom: 4px;
    .location {
      font-size: 12px;
      color: #666;
    }
  }

  .rating-row {
    display: flex;
    gap: 2px;
    margin-bottom: 4px;
    ion-icon { font-size: 14px; }
  }

  .price-row {
    .price {
      font-size: 16px;
      font-weight: 800;
      color: #000;
    }
    .free {
      font-size: 16px;
      font-weight: 800;
      color: #2DD36F; /* Vert */
    }
  }
}

/* Quand c'est vide */
.empty-state {
  text-align: center;
  margin-top: 50px;
  color: #999;

  ion-icon { font-size: 64px; margin-bottom: 16px; }
  h3 { color: #000; font-size: 18px; font-weight: 700; }

  .explore-btn {
    margin-top: 30px;
    --background: #2f65e8;
    --border-radius: 12px;
    text-transform: none;
    font-weight: 700;
    color: white;

  }
}
