// fond blanc basique
ion-content { --background: #fff; }

.main-container {
  padding: 20px 20px 80px; // padding pour pas que le menu cache le bas
}

// titre de la ville
.header-title {
  margin: 20px 0;
  span { color: #666; font-size: 14px; }
  h1 { margin: 0; font-size: 40px; color: #000; font-weight: 400; }
}

// barre de recherche grise
.custom-search {
  --background: #F6F8FC;
  --border-radius: 12px;
  --box-shadow: none;
  margin-bottom: 20px;
}

// les catégories qui scrollent
.categories-scroll {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  margin-bottom: 20px;
  &::-webkit-scrollbar { display: none; } // on vire la barre de scroll moche

  .category-item {
    cursor:pointer;
    color: #aaa;
    white-space: nowrap;
    &.active {
      color: #2f65e8; // bleu quand on clique dessus
      font-weight: 700;
      border-bottom: 2px solid #2f65e8; // le petit trait bleu en bas
    }
  }
}

// titre des sections
.section-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  h2 { font-size: 20px; margin: 0; color: #000; }
}

// scroll pour les cards
.horizontal-scroll {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  &::-webkit-scrollbar { display: none; }
}

// base de la carte
.spot-card {
  cursor: pointer;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  flex-shrink: 0; // pour garder la largeur

  &.big { width: 220px; height: 280px; } // les grandes cartes
  &.medium { width: 200px; height: 140px; } // les moyennes

  .bg-img { width: 100%; height: 100%; object-fit: cover; }
}

// infos par dessus l'image
.card-overlay {
  position: absolute;
  inset: 0;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; // on met tout en bas

  // pour les elements sur carte
  .badges-row { display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  // les petits labels gris
  .name-badge, .rating-badge, .dist-badge {
    background: rgba(60, 60, 60, 0.60);
    color: #fff;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
    width: fit-content; // s'adapte à la taille du texte
    margin-top: 5px;
  }

  // le bouton coeur
  .fav-badge {
    cursor: pointer;
    background: #fff;
    width: 32px; height: 32px;
    border-radius: 50%;
    display: flex; align-items: center; justify-content: center;
  }
}

// modif pour les cartes recommandées
.card-overlay.bottom {
  align-items: flex-start;
  gap: 5px;
  .name-badge.simple { background: transparent; font-size: 16px; font-weight: 700; padding: 0; }
}

// la grille quand on est pas en mode feed
.spots-grid {
  padding: 0;}
